PORT = 

DB_SERVER= <server name>>
DB_DATABASE= <database name>>
DB_USER= <user access name>
DB_PASSWORD= <pwd access name>
DB_ENCRYPT= true
SOAP_ENVELOPPE= <url envelope soap>
SOAP_NAMESPACE= <espace de nom soap>
SOAP_URL= <url soap>
SCHENKER_SOAP_ACTION= <soap action>
SCHENKER_ACCESS_KEY= <API key>
SCHENKER_GROUP_ID= <Group ID key>

PRINTER_IP=<IP printer>
PRINTER_PORT=<port printer
LABELS_PATH=<path pdf etiquettes>